@tailwind base;
@tailwind components;
@tailwind utilities;

.dt-paging button,
input:where([type="button"]),
.dt-paging input:where([type="reset"]),
.dt-paging input:where([type="submit"]) {
    -webkit-appearance: none;
    appearance: none;
    padding: 0 0.4rem;
    color: white;
    border: none;
    border-radius: 5px;
    color: #353935;
}
.dt-paging button.dt-paging-button.current {
    color: white;
    background-color: #3f83f8;
}
table tbody tr td.sorting_1,
table tbody tr td.dt-type-numeric,
table tbody tr td {
    padding-inline-start: 0.75rem;
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}
::-webkit-scrollbar-track {
    border-radius: 10px !important;
}
::-webkit-scrollbar-thumb {
    background: #3f83f8 !important;
    border-radius: 10px !important;
}
